<div class="show-title">Page Verification Process</span><p id="cshw" class="b-org" onclick="cshow()">x</p></div>
<div class="show-confirmation">
  <div class="confirmation-title" style="color:#f00">Confirmation Successful, but updating status failed</div>
  <div class="confirmation-content">
    <div class="content-info">
      <p></p>
      <ul>
        <li id="note-adder"><div style="padding:5px; line-height:23px;">Confirmation process has done successfully. An unexcepted error occured while sending mail to corresponding Page Admin. Send a report to super admin about the issue.</div></li>
        
      </ul>
      
      <p></p>
      <div class="confirm-controls">

        <input type="submit"  value="Close" class="b-org" onclick="cshow()" />
                
      </div>
    </div>
  </div>
</div>