<div class="show-title">Page Verification Process</span><p id="cshw" class="b-org" onclick="cshow()">x</p></div>
<div class="show-confirmation">
  <div class="confirmation-title">Confirmation Successful</div>
  <div class="confirmation-content">
    <div class="content-info">
      <p></p>
      <ul>
        <li id="note-adder"><div style="padding:5px; line-height:23px;">Confirmation process was successful. Confirmation mail has been sent to the corresponding Page Admin.</div></li>
        
      </ul>
      
      <p></p>
      <div class="confirm-controls">
        <input type="submit"  value="Close" class="b-org" onclick="cshow()" />
        
      </div>
    </div>
  </div>
</div>